<div class="w-full md:w-9/12" id="products">
  <div class="mb-2">
    <h3 class="font-black text-lg mb-4 text-center md:text-2xl md:text-left">いいね！した商品</h3>
  </div>
  <ul class="border-t border-gray-300">
    <% current_user.favorites.each do |favorite| %>
      <li class="border-b border-gray-300 px-2 group md:px-4 hover:bg-gray-100 duration-200 ">
        <div class="flex">
          <div class="flex-grow">
            <%= link_to item_path(favorite.item), class: "py-4 flex group space-x-4 md:space-x-4" do %>
              <div class="w-24 h-24 bg-gray-200 flex justify-center items-center relative flex-shrink-0 overflow-hidden rounded-md">
                <% if favorite.item.order %>
                  <div class="w-16 h-16 font-bold bg-red-500 text-white absolute z-10 rotate-45 flex items-end justify-center right-0 top-0 text-[0.6rem] md:text-[4px] pb-0.5 -mr-8 -mt-8">SOLD</div>
                <% end %>
                <%= image_tag favorite.item.images.first.url, class: "object-contain h-full" %>
              </div>
              <div class="flex-grow">
                <p class="text-base mb-1 md:text-lg">チュニック</p>
                <p class="text-sm font-bold mb-1">¥1,000</p>
                <ul class="flex space-x-4 items-center text-gray-700">
                  <li class="flex items-center space-x-0.5">
                    <svg class="w-4" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 59.1 (86144) - https://sketch.com-->
                      <g id="🔍-Product-Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="ic_fluent_heart_24_regular" fill="currentColor" fill-rule="nonzero">
                          <path d="M12.8198687,5.57958759 L11.9991485,6.40209417 L11.1758977,5.57884333 C9.07682963,3.47977526 5.67356786,3.47977526 3.5744998,5.57884333 C1.47543173,7.6779114 1.47543173,11.0811732 3.5744998,13.1802412 L11.4698687,21.0756101 C11.7627619,21.3685033 12.2376356,21.3685033 12.5305288,21.0756101 L20.4319958,13.1787767 C22.5263889,11.0727481 22.5299763,7.6790351 20.4305288,5.57958759 C18.3276384,3.4766972 14.9227559,3.47670037 12.8198687,5.57958759 Z M19.3684016,12.1210587 L12.0001987,19.4846198 L4.63515997,12.1195811 C3.12187834,10.6062994 3.12187834,8.15278513 4.63515997,6.6395035 C6.1484416,5.12622187 8.60195589,5.12622187 10.1152375,6.6395035 L11.4726817,7.99694767 C11.7705471,8.2948131 12.2552416,8.28900906 12.545889,7.98409641 L13.8805288,6.64024776 C15.3976301,5.12314654 17.8527652,5.12314425 19.3698687,6.64024776 C20.8835151,8.15389424 20.8809293,10.6001281 19.3684016,12.1210587 Z" id="🎨-Color"></path>
                        </g>
                      </g>
                    </svg>
                    <span class="text-xs">4</span>
                  </li>
                  <li class="flex items-center space-x-0.5">
                    <svg class="w-4" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.96 9.96 0 0 1-4.587-1.112l-3.826 1.067a1.25 1.25 0 0 1-1.54-1.54l1.068-3.823A9.96 9.96 0 0 1 2 12C2 6.477 6.477 2 12 2Zm0 1.5A8.5 8.5 0 0 0 3.5 12c0 1.47.373 2.883 1.073 4.137l.15.27-1.112 3.984 3.987-1.112.27.15A8.5 8.5 0 1 0 12 3.5ZM8.75 13h4.498a.75.75 0 0 1 .102 1.493l-.102.007H8.75a.75.75 0 0 1-.102-1.493L8.75 13h4.498H8.75Zm0-3.5h6.505a.75.75 0 0 1 .101 1.493l-.101.007H8.75a.75.75 0 0 1-.102-1.493L8.75 9.5h6.505H8.75Z" fill="currentColor"></path>
                    </svg>
                    <span class="text-xs">12</span>
                  </li>
                  <li class="flex items-center space-x-0.5">
                    <svg class="w-4" width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 9.005a4 4 0 1 1 0 8 4 4 0 0 1 0-8ZM12 5.5c4.613 0 8.596 3.15 9.701 7.564a.75.75 0 1 1-1.455.365 8.503 8.503 0 0 0-16.493.004.75.75 0 0 1-1.455-.363A10.003 10.003 0 0 1 12 5.5Z" fill="currentColor"></path>
                    </svg>
                    <span class="text-xs">2</span>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
          <div class="flex items-center justify-center">
            <button class="bg-white border-2 border-red-500 font-bold text-red-500 px-4 py-1 rounded text-base">削除</button>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
