<div class="w-full md:w-3/12 " id="menus">
  <div class="mb-8">
    <h3 class="font-black text-lg text-gray-700 border-b border-gray-200 pb-4"></h3>
    <ul class="w-full">
      <li class="w-full flex group hover:bg-gray-100 duration-200 trantision">
        <%= link_to "いいね！した商品", mypage_favorites_path, class: "flex-grow py-4 block w-full text-gray-800" %>
        <div class="flex items-center pr-2">
          <svg class="w-5 text-gray-500" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
          </svg>
        </div>
      </li>
      <hr>
    </ul>
  </div>
  <div class="mb-8">
    <h3 class="font-black text-lg text-gray-700 border-b border-gray-200 pb-4">商品の管理</h3>
    <ul class="w-full">
      <li class="w-full flex group hover:bg-gray-100 duration-200 trantision">
        <a class="flex-grow py-4 block w-full text-gray-800" href="#">出品した商品</a>
        <div class="flex items-center pr-2">
          <svg class="w-5 text-gray-500" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
          </svg>
        </div>
      </li>
      <hr>
      <li class="w-full flex group hover:bg-gray-100 duration-200 trantision">
        <a class="flex-grow py-4 block w-full text-gray-800" href="#">購入した商品</a>
        <div class="flex items-center pr-2">
          <svg class="w-5 text-gray-500" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
          </svg>
        </div>
      </li>
    </ul>
  </div>
  <div class="mb-8">
    <h3 class="font-black text-lg text-gray-700 border-b border-gray-200 pb-4">残高</h3>
    <ul class="w-full">
      <li class="w-full flex group hover:bg-gray-100 duration-200 trantision">
        <a class="flex-grow py-4 block w-full text-gray-800" href="#">振込申請</a>
        <div class="flex items-center pr-2">
          <svg class="w-5 text-gray-500" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
          </svg>
        </div>
      </li>
      <hr>
    </ul>
  </div>
  <div class="mb-8">
    <h3 class="font-black text-lg text-gray-700 border-b border-gray-200 pb-4">その他設定</h3>
    <ul class="w-full">
      <li class="w-full flex group hover:bg-gray-100 duration-200 trantision">
        <a class="flex-grow py-4 block w-full text-gray-800" href="#">プロフィール</a>
        <div class="flex items-center pr-2">
          <svg class="w-5 text-gray-500" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.46967 4.21967C8.17678 4.51256 8.17678 4.98744 8.46967 5.28033L15.1893 12L8.46967 18.7197C8.17678 19.0126 8.17678 19.4874 8.46967 19.7803C8.76256 20.0732 9.23744 20.0732 9.53033 19.7803L16.7803 12.5303C17.0732 12.2374 17.0732 11.7626 16.7803 11.4697L9.53033 4.21967C9.23744 3.92678 8.76256 3.92678 8.46967 4.21967Z" fill="currentColor"></path>
          </svg>
        </div>
      </li>
      <hr>
    </ul>
  </div>
</div>
