<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">プロフィール設定</h1>
    <%= form_with model: @profile, url: mypage_profile_path do |f| %>
      <div class="text-left">
        <div class="mb-8">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">画像
          </label>
          <div class="flex space-x-6 items-center">
            <img class="mb-4 rounded-full w-16 h-16 md:w-24 md:h-24" src="img/common/profile.png">
          </div>
          <input type="file">
        </div>
      </div>
      <div class="text-left">
        <div class="mb-8">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">ニックネーム
          </label>
          <input class="appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" type="text" placeholder="">
        </div>
        <div class="mb-8">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">自己紹介
          </label>
          <textarea class="border border-gray-300 rounded py-2 px-3 text-grey-darker h-32" placeholder=""></textarea>
        </div>
      </div>
      <div class="text-left mt-12">
        <div class="text-center mb-2 flex flex-col space-y-4">
          <button class="text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" value="">更新する</button>
        </div>
      </div>
    <% end %>
  </div>
</main>
