<footer class="bg-gray-800 w-full">
  <div class="mx-auto py-12 md:flex w-9/12">
    <ul class="text-white flex flex-col space-y-2 mb-4 md:w-1/3">
      <li class="font-black">URIKAIについて</li>
      <li><a class="text-sm opacity-75 underline" href="#">会社概要</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">採用情報</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">プレスリリース</a></li>
    </ul>
    <ul class="text-white flex flex-col space-y-2 mb-4 md:w-1/3">
      <li class="font-black">ヘルプと各種情報</li>
      <li><a class="text-sm opacity-75 underline" href="#">ガイド</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">ウリカイあんしん宣言</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">お問い合わせ</a></li>
    </ul>
    <ul class="text-white flex flex-col space-y-2 mb-4 md:w-1/3">
      <li class="font-black">プライバシーと利用規約</li>
      <li><a class="text-sm opacity-75 underline" href="#">プライバシー</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">利用規約</a></li>
      <li><a class="text-sm opacity-75 underline" href="#">特定商取引に関する表記</a></li>
    </ul>
  </div>
  <div class="w-full bg-gray-900 text-center py-4 text-white">
    <div class="flex items-center justify-center"><%= image_tag "logo_white.svg", class: "w-6 mr-1" %><span class="inline p-0">URIKAI</span></div>
  </div>
</footer>
