<div id="profile">
  <div class="flex space-x-4 items-start mb-4 md:items-center">
    <%= image_tag "profile.png", class: "rounded-full w-16 h-16 md:w-24 md:h-24" %>
    <div>
      <p class="font-bold"><%= user.nickname %></p>
      <div class="flex space-x-4 items-center">
        <%= link_to user_evaluations_path(user), class: "flex space-x-2 items-center text-blue-500" do %>
          <ul class="flex items-center space-x-0.5" id="stars">
            <li>
              <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
              </svg>
            </li>
            <li>
              <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
              </svg>
            </li>
            <li>
              <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
              </svg>
            </li>
            <li>
              <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
              </svg>
            </li>
            <li>
              <svg class="text-yellow-500 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 12">
                <path d="M6.5,9.644,10.517,12,9.451,7.56,13,4.573,8.326,4.187,6.5,0,4.674,4.187,0,4.573,3.549,7.56,2.483,12Z" fill="currentColor"></path>
              </svg>
            </li>
          </ul>
          <span class="text-sm">118</span>
        <% end %>
      </div>
      <button class="border text-sm border-red-500 text-red-500 px-4 py-1 rounded-md w-full md:w-auto mt-2 md:mt-0">＋フォロー</button>
    </div>
  </div>
  <div class="flex space-x-4 items-start md:items-center">
    <dl class="text-sm flex space-x-2">
      <dt class="font-bold"><%= user.items.size %></dt>
      <dd>出品数</dd>
    </dl>
    <dl class="text-sm flex space-x-2">
      <dt class="font-bold">12</dt>
      <dd>フォロワー</dd>
    </dl>
    <dl class="text-sm flex space-x-2">
      <dt class="font-bold">4</dt>
      <dd>フォロー中</dd>
    </dl>
  </div>
</div>
