<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 px-2 md:px-8 xl:px-0" id="contents">
  <div class="mb-8">
    <h3 class="font-black text-center text-2xl mb-8"><%= @news.title %></h3>
      <div class="w-full md:w-6/12 md:mx-auto">
        <p>2022/03/23 11:12<br />いつもご利用いただきありがとうございます。</p>
        <p>こちらは、お客さまのアカウントを使ってメルカリへログインしたことを通知するメッセージです。</p>
        <p>■詳細情報<br />ログイン日時: 2022/03/23 11:12<br />利用アプリ: [Webサイト]</p>
        <p>お客さま自身がメルカリにログインを行った場合は問題ありません。
          <br />
          心当たりがない場合は、詳細を記載したメールをこの通知と同時にご登録いただいているメールアドレスにお送りさせていただいておりますので、
          メールをご確認ください。
        </p>
      </div>
    </div>
</main>
