<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">振込銀行口座登録</h1>
    <form action="" mehod="">
      <div class="text-left">
        <div class="mb-6">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">銀行名
          </label>
          <input class="appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" type="text" placeholder="URIKAI銀行">
        </div>
        <div class="mb-6">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">口座種別
          </label>
          <label class="block w-full hover:bg-gray-100 transition duration-200 px-1 py-2">
            <input class="mr-1" type="radio"><span class="text-sm">普通</span>
          </label>
          <label class="block w-full hover:bg-gray-100 transition duration-200 px-1 py-2">
            <input class="mr-1" type="radio"><span class="text-sm">当座</span>
          </label>
        </div>
        <div class="mb-6">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">支店名
          </label>
          <input class="appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" type="text" placeholder="URIKAI支店">
        </div>
        <div class="mb-6">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">口座番号
          </label>
          <input class="appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" type="text" placeholder="1234567">
        </div>
        <div class="mb-6">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">口座名義
          </label>
          <input class="appearance-none border border-gray-300 rounded py-2 px-3 text-grey-darker w-full" type="text" placeholder="うりかい太郎">
        </div>
      </div>
      <div class="text-left mt-12">
        <div class="text-center mb-2 flex flex-col space-y-4">
          <button class="text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" value="">登録する</button>
        </div>
      </div>
    </form>
  </div>
</main>
