<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">商品の出品</h1>
    <%= form_with model: @item, url: items_path do |f| %>
      <%= render partial: "form", locals: { item: @item, f: f } %>
    <% end %>
  </div>
</main>
