<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-8 text-2xl">コメントの報告</h1>
    <form action="" mehod="">
      <div class="text-left">
        <div class="mb-8">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">報告理由
          </label>
          <select class="w-full text-black p-3 undefined border border-[#CDD6DD]">
            <option>選択してください</option>
            <option>暴言・脅迫</option>
            <option>誹謗中傷</option>
            <option>直接取引・交換・半交換</option>
            <option>個人情報の公開</option>
            <option>外部サイトへの誘導</option>
            <option>その他</option>
          </select>
        </div>
      </div>
      <div class="text-left">
        <div class="mb-8">
          <label class="block text-grey-500 text-sm font-bold mb-2" for="username">報告理由の詳細
          </label>
          <textarea class="border border-gray-300 rounded py-2 px-3 text-grey-darker h-32 w-full" placeholder=""></textarea>
        </div>
      </div>
      <div class="md:w-10/12 mx-auto">
        <div class="text-center mb-2 flex flex-col space-y-4">
          <button class="text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" value="">事務局に報告する</button>
        </div>
      </div>
    </form>
  </div>
</main>
