<main class="w-11/12 flex-1 max-w-screen-xl mx-auto bg-white mt-24 pb-24 md:px-8 xl:px-0" id="contents">
  <div class="text-center w-full px-4 bg-white md:w-2/3 lg:w-1/2 mx-auto" id="input">
    <h1 class="font-black mb-4 text-2xl">会員登録完了</h1>
    <div class="text-center mb-8">
      <div class="text-sm text-gray-600 mb-8">
        <p>ありがとうございます。<br />会員登録が完了しました。</p>
      </div>
    </div>
    <div class="text-center mb-2 flex flex-col space-y-4">
      <%= link_to "URIKAIをはじめる", :root, class: "text-base font-bold bg-red-500 text-white p-2 w-full block py-4 rounded-sm" %>
    </div>
  </div>
</main>
